div.carousel-cell {
  background-size: cover;
  width: 100%;
  background-position: center center;
  color: white;
  text-align: center;
  div.overlay {
    background: rgba(44,51,58,.5);
    //background: none;
    height: rem(360);
    position: relative;
    @include media($large-screen-up) {
      height: rem(480);
    }
  }
  div.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  div.container {
    @include outer-container();
  }
  h2 {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: modular-scale(2);
    margin-bottom: $small-spacing / 4;
    text-shadow:#333 1px 1px;
    @include media($xl-screen-up) {
      font-size: modular-scale(4);
    }
  }
  p {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: modular-scale(1);
    text-shadow:#333 1px 1px;
    @include media($xl-screen-up) {
      font-size: modular-scale(2);
    }
  }
  div.field-link-banner-sse {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: modular-scale(1);
    a {
      display: inline-block;
      background: $action-color;
      color: white;
      font-weight: 600;
      padding: ($small-spacing / 2) $base-spacing;
      border-radius: $base-border-radius;
      &:hover,
      &:focus {
        background-color: shade($action-color, 20%);
        color: #fff;
      }
    }
  }
}
