@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1170px;
//$visual-grid: true !global;
$fg-column: $column;
$fg-gutter: $gutter;

// Neat Breakpoints
$small-screen: 480px;
$medium-screen: 640px;
$large-screen: 768px;
$xl-screen: 1024px;
$xxl-screen: 1200px;

$small-screen-up: new-breakpoint(min-width $small-screen 12);
$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
$xl-screen-up: new-breakpoint(min-width $xl-screen 12);
$xxl-screen-up: new-breakpoint(min-width $xxl-screen 12);
