body.node-type-landing-page-sse {
  header.page-header {
    background: $dark-gray;
  }
  section.page-content {
    div.container {
      @include outer-container();
    }
    article.node-landing-page-sse {
      @include span-columns(10 of 12);
      @include shift(1);
      @include media($xxl-screen-up) {
        // @include span-columns(8 of 12);
        // @include shift(2);
      }
    }
    div.node-block-sse {
      background: white;
    }
    div.field-rows {
      div.field-row {
        div.node-block-sse {
          background-color: $dark-gray;
          margin-top: $base-spacing;
          background-size: cover;
          background-position: center center;
          color: white;
          text-align: center;
          div.overlay {
            background: rgba(44, 51, 58, 0.8);
            padding: $base-spacing;
            @include media($xxl-screen-up) {
              padding: $base-spacing*2;
            }
          }
          h2 {
            font-size: modular-scale(1);
            margin-bottom: $small-spacing / 2;
            @include media($xl-screen-up) {
              font-size: modular-scale(2);
            }
          }
          p {
            font-size: modular-scale(0);
            @include media($xl-screen-up) {
              font-size: modular-scale(1);
            }
          }
          a {
            display: inline-block;
            color: white;
            background: $action-color;
            padding: ($small-spacing / 2) $base-spacing;
            border-radius: $base-border-radius;
            @include media($xl-screen-up) {
              font-size: modular-scale(1);
            }
            &:hover,
            &:focus {
              background-color: shade($action-color, 20%);
              color: #fff;
            }
          }
        }
        div.block-1 {
          div.node-block-sse {
            div.overlay {
              padding: $base-spacing;
              @include media($xxl-screen-up) {
                padding: $base-spacing*4;
              }
            }
          }
        }
        div.block-2 {
          div.field-block {
            @include media($medium-screen-up) {
              @include omega(2n);
              @include span-columns(5);
            }
          }
        }
        div.block-3 {
          div.field-block {
            @include media($medium-screen-up) {
              @include omega(2n);
              @include span-columns(6);
            }
            @include media($xl-screen-up) {
              @include omega-reset(2n);
              @include omega(3n);
              @include span-columns(4);
            }
            div.node-block-sse {

            }
          }
        }
      }
    }
  }
}
