div.sse_menu {
  position: absolute;
  right: 0;
  display: block;
  z-index: 2;
  @include media($xl-screen-up) {
    display: none;
  }
  a {
    &.slicknav_btn {
      color: $dark-gray;
      float: right;
      text-align: right;
      display: block;
      font-weight: 600;
      width: rem(67.2);
      height: rem(67.2);
      background: white url("../images/arrow-down-dark-gray.svg") no-repeat center center;
      &.slicknav_open {
        background-image: url("../images/arrow-up-dark-gray.svg");
      }
    }
  }
  div.slicknav_nav {
    display: block;
    clear: both;
    z-index: 2;
    background: white;
    width: 100%;
    nav {
      ul {
        li {
          a {
            padding: $small-spacing $base-spacing;
            display: block;
            font-weight: 600;
            &:hover {
              background: $action-color;
              color: white;
            }
          }
        }
      }
    }
  }
}
