header.page-header {
  background-color: $dark-gray;
  background-image: url("../images/default.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  div.overlay {
    background: rgba(44,51,58,.5);
    padding: $base-spacing*2 0;
    @include media($large-screen-up) {
      padding: $base-spacing*3 0;
    }
    @include media($xl-screen-up) {
      padding-top: $base-spacing*6;
    }
  }
  div.container {
    @include outer-container();
  }
  h1.page-title {
    @include span-columns(8 of 12);
    @include shift(2);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    font-size: modular-scale(2);
    text-shadow:#333 1px 1px;
    @include media($large-screen-up) {
      font-size: modular-scale(3);
    }
    @include media($xl-screen-up) {
      font-size: modular-scale(4);
    }
  }
}
