body.node-type-basic-page-sse {
  section.page-content {
    margin: $base-spacing 0;
    @include media($xxl-screen-up) {
      margin: $base-spacing*2 0;
    }
    div.container {
      @include outer-container();
      article {
        @include span-columns(10 of 12);
        @include shift(1);
      }
      aside {
        margin-top: $base-spacing*2;
        @include span-columns(10 of 12);
        @include shift(1);
        border-top: 1px solid darken($h-gray,25%);
        padding-top: $base-spacing;
        @include media($xl-screen-up) {
          padding-top: 0;
          border-top: 0;
        }
        nav {
          margin-bottom: $base-spacing;
          h2 {
            font-size: modular-scale(0);
            margin-bottom: 0;
            @include media($medium-screen-up) {
              font-size: modular-scale(1);
            }
            a {
              font-weight: 400;
              display: block;
              &.active {
                font-weight: 700;
              }
            }
          }
          ul {
            margin-top: $small-spacing / 2;
            li {
              a {
                font-size: modular-scale(0);
                display: block;
                margin-bottom: $small-spacing / 2;
                @include media($medium-screen-up) {
                  font-size: modular-scale(1);
                }
                &.active {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      // Change in layout
      @include direction-context(right-to-left) {
        @include media($xl-screen-up) {
          article {
            @include span-columns(7 of 12);
            @include shift(1);
          }
          aside {
            margin-top: 0;
            @include span-columns(3 of 12);
            @include shift(0);
          }
        }
        @include media($xxl-screen-up) {
          article {
            @include span-columns(8 of 12);
            @include shift(0);
          }
          aside {
            float: left !important;
            @include span-columns(4 of 12);
          }
        }
      }
    }
  }
}
