body.node-type-program-orientation {
  footer.site-footer {
    margin-top: 0;
  }
  section.page-content {
    margin: $base-spacing 0;
    @include media($xxl-screen-up) {
      margin: $base-spacing*2 0;
    }
    div.container {
      @include outer-container();
      article {
        @include span-columns(10 of 12);
        @include shift(1);
      }
      div.field-info-orientation {
        clear: both;
        margin-bottom: $base-spacing;
        background: white;
        border-left: 10px solid $h-yellow;
        padding: $small-spacing;
        @include media($medium-screen-up) {
          font-size: modular-scale(1);
        }
      }
      div.core-details {
        @include media($xxl-screen-up) {
          @include span-columns(5 of 10);
        }

      }
      section.field-body {
        @include media($xxl-screen-up) {
          @include span-columns(5 of 10);
        }
      }
      div.wrapper-field-school {
        margin-bottom: $small-spacing / 2;
        h2 {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
        div {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
      }
      div.wrapper-field-title {
        margin-bottom: $small-spacing / 2;
        h2 {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
        div {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
      }
      div.wrapper-field-code {
        margin-bottom: $small-spacing / 2;
        h2 {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
        div {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
      }
      div.wrapper-field-date {
        margin-bottom: $small-spacing / 2;
        h2 {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
        div {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
      }
      div.wrapper-field-campus {
        margin-bottom: $small-spacing / 2;
        h2 {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
        div {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
      }
      div.wrapper-field-room {
        margin-bottom: $small-spacing / 2;
        h2 {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
        div {
          display: inline;
          @include media($medium-screen-up) {
            font-size: modular-scale(1);
          }
        }
      }
      a.register {
        margin-top: $base-spacing;
        display: block;
        background: $action-color;
        border-radius: $base-border-radius;
        text-align: center;
        font-weight: 600;
        padding: $small-spacing $base-spacing;
        color: white;
        margin-bottom: $base-spacing;
        @include media($medium-screen-up) {
          margin-top: $small-spacing;
          font-size: modular-scale(1);
          display: inline-block;
          padding: ($small-spacing / 2) $base-spacing*2;
        }
        &:hover,
        &:focus {
          background-color: shade($action-color, 20%);
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  section.page-location {
    padding: $base-spacing 0;
    background: darken($h-gray,2.5%);
    @include media($medium-screen-up) {
      padding: $base-spacing*2 0;
    }
    @include media($xxl-screen-up) {
      padding: $base-spacing*3 0;
    }

    div.container {
      @include outer-container();
    }
    div.location-block {
      @include span-columns(10 of 12);
      @include shift(1);
      @include media($small-screen-up) {
        @include span-columns(8 of 12);
        @include shift(2);
      }
      @include media($medium-screen-up) {
        @include span-columns(6 of 12);
        @include shift(3);
      }
      @include media($large-screen-up) {
        @include span-columns(10 of 12);
        @include shift(1);
      }
      @include media($xl-screen-up) {
        @include span-columns(8 of 12);
        @include shift(2);
      }
      h2 {
        font-size: modular-scale(1);
        text-align: center;
        margin-bottom: $base-spacing;
        @include media($large-screen-up) {
          font-size: modular-scale(2);
        }
      }
      div.field-address-orientation {
        @include media($large-screen-up) {
          @include span-columns(4 of 8);
        }
      }
      div.field-address-campus-orientation {
        @include media($medium-screen-up) {
          font-size: modular-scale(1);
        }
        @include media($large-screen-up) {
          @include span-columns(4 of 8);
        }
      }
    }
  }
}

//Registration

body.page-eform-submit-register-orientation div.website div.page div#main-content section.page-content {
  div.container {
    @include outer-container();
  }
  form.entitytype-register_orientation-form {
    @include span-columns(10 of 12);
    @include shift(1);
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    @include media($medium-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
    @include media($xl-screen-up) {
      @include span-columns(6 of 12);
      @include shift(3);
    }
    div#edit-actions {
      clear: both;
    }
    h2 {
      font-size: modular-scale(1);
      color: #555;
      margin-top: $base-spacing;
    }
  }
}

body.page-eform-register-orientation-confirm div.website div.page div#main-content section.page-content {
  div.container {
    @include outer-container();
  }
  div.submission-text {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    @include span-columns(10 of 12);
    @include shift(1);
    @include media($large-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
    @include media($xxl-screen-up) {
      @include span-columns(6 of 12);
      @include shift(3);
    }
  }
}

//Schedule listing
body.page-schedule {
  header.page-header {
    background: url('../images/66.png') no-repeat center center !important;
    background-size: cover;
  }
  section.page-content {
    margin: $base-spacing 0;
    @include media($xxl-screen-up) {
      margin: $base-spacing*2 0;
    }
    div.container {
      @include outer-container();
      section.listing {
        @include span-columns(10 of 12);
        @include shift(1);
        div.view-grouping {
          @include media($large-screen-up) {
            @include shift(0);
            @include span-columns(12 of 12);
          }
          div.view-grouping-header {
            border-bottom: 1px solid $dark-gray;
            padding-bottom: $small-spacing;
            margin-bottom: $base-spacing;
            h2 {
              font-size: modular-scale(1);
              text-transform: uppercase;
              margin-bottom: 0;
              @include media($medium-screen-up) {
                font-size: modular-scale(2);
              }
            }
          }
          div.view-grouping-content {
            div.program-group {
              margin-bottom: $base-spacing;
              border-bottom: 1px solid darken($h-gray,5%);
              padding-bottom: $base-spacing;
              overflow: auto;
              &:last-child {
                border-bottom: 0;
              }
              h3 {
                font-size: modular-scale(0);
                font-weight: 700;
                @include media($small-screen-up) {
                  @include span-columns(2 of 10);
                }
                @include media($large-screen-up) {
                  @include span-columns(2 of 7);
                  font-size: modular-scale(1);
                }
              }
              div.schedule-item {
                border-bottom: 1px solid darken($h-gray, 5%);
                padding: $small-spacing 0;
                &.first {
                  padding-top: 0;
                }
                &:last-child {
                  border-bottom: 0;
                }
                @include media($small-screen-up) {
                  @include span-columns(8 of 10);
                  margin-right: 0 !important;
                  float: right;
                }
                @include media($large-screen-up) {
                  @include span-columns(5 of 7);
                  float: right;
                  margin-right: 0 !important;
                }
                span {
                  display: block;
                }
                h4 {
                  margin-bottom: 0;
                  @include media($medium-screen-up) {
                    font-size: modular-scale(1);
                  }
                  @include media($large-screen-up) {
                    font-size: modular-scale(2);
                  }
                }
              }
            }
          }
        }
      }
      aside {
        margin-top: $base-spacing*2;
        @include span-columns(10 of 12);
        @include shift(1);
        border-top: 1px solid darken($h-gray,25%);
        padding-top: $base-spacing;
        @include media($xl-screen-up) {
          padding-top: 0;
          border-top: 0;
        }
        nav {
          margin-bottom: $base-spacing;
          h2 {
            font-size: modular-scale(0);
            margin-bottom: 0;
            @include media($medium-screen-up) {
              font-size: modular-scale(1);
            }
            a {
              font-weight: 400;
              display: block;
              &.active {
                font-weight: 700;
              }
            }
          }
          ul {
            margin-top: $small-spacing / 2;
            li {
              a {
                font-size: modular-scale(0);
                display: block;
                margin-bottom: $small-spacing / 2;
                @include media($medium-screen-up) {
                  font-size: modular-scale(1);
                }
                &.active {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      // Change in layout
      @include direction-context(right-to-left) {
        @include media($xl-screen-up) {
          section.listing {
            @include span-columns(7 of 12);
            @include shift(1);
          }
          aside {
            margin-top: 0;
            @include span-columns(3 of 12);
            @include shift(0);
          }
        }
        @include media($xxl-screen-up) {
          section.listing {
            @include span-columns(8 of 12);
            @include shift(0);
          }
          aside {
            float: left !important;
            @include span-columns(4 of 12);
          }
        }
      }
    }
  }
}

//Program search
div.program-search {
  margin-bottom: $base-spacing;
  @include media($large-screen-up) {
    @include shift(0);
    @include span-columns(12 of 12);
  }
  h2.title {
    font-size: modular-scale(1);
    text-transform: uppercase;
  }
  form {
    div.views-exposed-form {
      div.views-exposed-widgets {
        margin-bottom: 0;
        position: relative;
        small {
          display: none;
        }
        div#edit-title-wrapper {
          float: left;
          padding: 0;
          width: 100%;
          width: calc(100% - 95.133333px);
          @include media($small-screen-up) {
              width: calc(100% - 108px);
              //font-size: modular-scale(1);
          }
          label {
            position:absolute;
            left:-10000px;
            top:auto;
            width:1px;
            height:1px;
            overflow:hidden;
          }
          div.views-widget {
            input {
              margin-bottom: 0;
              min-height: 40px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              @include media($small-screen-up) {
                //min-height: rem(53.3333);
              }
            }
          }
        }
        div.views-exposed-widget.views-submit-button {
          padding: 0;
          float: left;
          //width: 100%;
          //margin-top: $small-spacing;
          @include media($small-screen-up) {
            //width: 108px;
            //font-size: modular-scale(1);

            margin-top: 0;
          }
          input {
            width: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            @include media($small-screen-up) {
              width: auto;

            }

          }
        }
      }
    }
  }
}

//Front page program search
body.front {
  header.page-header {
    position: relative;
  }
}
// body.front {
//   section.search-box {
//     background: white;
//     padding: $base-spacing 0;
//     div.container {
//       @include outer-container();
//     }
//   }
//   div.program-search {
//     margin-bottom: $base-spacing;
//     @include span-columns(10 of 12);
//     @include shift(1);
//     @include media($large-screen-up) {
//     }
//     h2.title {
//       font-size: modular-scale(1);
//       text-transform: uppercase;
//       text-align: center;
//       display: none;
//     }
//     form {
//       div.views-exposed-form {
//         div.views-exposed-widgets {
//           margin-bottom: 0;
//           position: relative;
//           small {
//             display: none;
//           }
//           div#edit-title-wrapper {
//             float: left;
//             padding: 0;
//             width: 100%;
//             @include media($small-screen-up) {
//                 width: calc(100% - 126px);
//                 font-size: modular-scale(1);
//             }
//             label {
//               position:absolute;
//               left:-10000px;
//               top:auto;
//               width:1px;
//               height:1px;
//               overflow:hidden;
//             }
//             div.views-widget {
//               input {
//                 margin-bottom: 0;
//                 min-height: 40px;
//                 border-top-right-radius: 0;
//                 border-bottom-right-radius: 0;
//                 @include media($small-screen-up) {
//                   min-height: rem(53.3333);
//                 }
//               }
//             }
//           }
//           div.views-exposed-widget.views-submit-button {
//             padding: 0;
//             float: left;
//             width: 100%;
//             margin-top: $small-spacing;
//             @include media($small-screen-up) {
//               width: 108px;
//               font-size: modular-scale(1);
//
//               margin-top: 0;
//             }
//             input {
//               width: 100%;
//               @include media($small-screen-up) {
//                 width: auto;
//                 border-top-left-radius: 0;
//                 border-bottom-left-radius: 0;
//               }
//
//             }
//           }
//         }
//       }
//     }
//   }
// }

div.search-box {
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 100%;
  padding: $base-spacing 0;
  display: none;
  @include media($large-screen-up) {
    background: rgba(0,0,0,.5);
  }
  div.container {
    @include outer-container();
    margin-bottom: 0;
    margin-top: 0;
    @include media($xl-screen-up) {
      @include outer-container();
    }
    @include media($xxl-screen-up) {
      @include outer-container();
    }
  }
  div.program-search {
    margin-bottom: 0;
    padding-bottom: 0;
    h2 {
      display: none;
    }
    form#views-exposed-form-program-orientation-sched {
      @include span-columns(10 of 12);
      @include shift(1);
      @include media($xl-screen-up) {
        @include span-columns(8 of 12);
        @include shift(2);
      }
      @include media($xxl-screen-up) {
        @include span-columns(6 of 12);
        @include shift(3);
      }
      div#edit-title-wrapper {
        width: calc(100% - 96px);
        @include media($small-screen-up) {
          font-size: modular-scale(0);
        }
        input {
          @include media($small-screen-up) {
            // height: 40px;
            min-height: 40px !important;
          }
        }
      }
      div.views-exposed-widget.views-submit-button {
        width: auto;
        margin: 0;
        @include media($small-screen-up) {
          font-size: modular-scale(0);
        }
        input#edit-submit-program-orientation {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
}
