body.page-eform-submit-volunteer-application-orientatio div.website div.page div#main-content {
  section.page-content {
    margin: $base-spacing 0;
    @include media($xxl-screen-up) {
      margin: $base-spacing*2 0;
    }
    div.container {
      @include outer-container();
      form {
        margin-top: 0;
        @include span-columns(10 of 12);
        @include shift(1);
        .form-required {
          color: $dark-gray;
        }
        label.required {
          color: $dark-gray;
          &:after {
            color: red;
          }
        }
        div.pre-instructions {
        }
        div.form-wrapper {
          margin-bottom: $small-spacing;
        }
        small {
          display: block;
          font-size: modular-scale(0);
        }
        div.field-group-div {
          background: white;
          margin-top: $base-spacing;
          padding: $base-spacing;
          @media screen and (min-width: 1024px) {
            margin-top: 0;
          }
          h2 {
            font-size: modular-scale(0);
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: $small-spacing*1.25;
          }
          div.field-group-div {
            padding: 0;
            margin-bottom: $small-spacing;
            h3 {
              border-bottom: 1px solid $dark-gray;
              padding-bottom: $small-spacing*1.25;
            }
          }
        }
      }
      aside {
        margin-top: $base-spacing*2;
        @include span-columns(10 of 12);
        @include shift(1);
        border-top: 1px solid darken($h-gray,25%);
        padding-top: $base-spacing;
        @include media($xl-screen-up) {
          padding-top: 0;
          border-top: 0;
        }
        nav {
          margin-bottom: $base-spacing;
          h2 {
            font-size: modular-scale(0);
            margin-bottom: 0;
            @include media($medium-screen-up) {
              font-size: modular-scale(1);
            }
            a {
              font-weight: 400;
              display: block;
              &.active {
                font-weight: 700;
              }
            }
          }
          ul {
            margin-top: $small-spacing / 2;
            li {
              a {
                font-size: modular-scale(0);
                display: block;
                margin-bottom: $small-spacing / 2;
                @include media($medium-screen-up) {
                  font-size: modular-scale(1);
                }
                &.active {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      // Change in layout
      @include direction-context(right-to-left) {
        @include media($xl-screen-up) {
          article {
            @include span-columns(7 of 12);
            @include shift(1);
          }
          aside {
            margin-top: 0;
            @include span-columns(3 of 12);
            @include shift(0);
          }
        }
        @include media($xxl-screen-up) {
          article {
            @include span-columns(8 of 12);
            @include shift(0);
          }
          aside {
            float: left !important;
            @include span-columns(4 of 12);
          }
        }
      }
      // Change in layout
      @include direction-context(right-to-left) {
        @include media($xl-screen-up) {
          form {
            @include span-columns(7 of 12);
            @include shift(1);
          }
          aside {
            margin-top: 0;
            @include span-columns(3 of 12);
            @include shift(0);
          }
        }
        @include media($xxl-screen-up) {
          form {
            @include span-columns(8 of 12);
            @include shift(0);
          }
          aside {
            float: left !important;
            @include span-columns(4 of 12);
          }
        }
      }
    }
  }
}

body.page-eform-volunteer-application-orientatio-confirm div.website div.page div#main-content section.page-content {
  div.container {
    @include outer-container();
  }
  div.submission-text {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    @include span-columns(10 of 12);
    @include shift(1);
    @include media($large-screen-up) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
    @include media($xxl-screen-up) {
      @include span-columns(6 of 12);
      @include shift(3);
    }
  }
}
