// Typography
$base-font-family: 'Source Sans Pro', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #006D9C;
$dark-gray: #2c333a;
$medium-gray: #999;
$light-gray: #ddd;

$h-purple: #5C068C;
$h-green: #B4C800;
$h-light-blue: #009BE0;
$h-watermelon: #DF4661;
$h-yellow: #FEDB00;
$h-teal: #0097A9;
$h-blue: #000033;
$h-gold: #CC9900;
$h-black: #000;
$h-white: #FFF;
$h-gray: #F3F5F6;
$h-beige: #d6cfcd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
